## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [27]:
# Your code here - remember to use markdown cells for comments as well

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('./data/Aviation_Data.csv')

In [3]:
#Transform the Event Date into three separate Date columns that specify day, month and year of the incident.
#Dropping 'Event.Date' once the columns are created:

df['Event.Date'] = pd.to_datetime(df['Event.Date'])
df['Event.Day'] = df['Event.Date'].map(lambda x: x.day)
df['Event.Month'] = df['Event.Date'].map(lambda x: x.month)
df['Event.Year'] = df['Event.Date'].map(lambda x: x.year)
df.drop(['Event.Date'], axis=1, inplace=True)

In [4]:
#Grouping all the Countries outside of the US as "Foreign Country"
df.loc[df['Country'] != 'United States', 'Country'] = 'Foreign Country'

In [5]:
#Filling the Null Values with "UNKNOWN" the the Location Column
df['Location'] = df['Location'].fillna('UNKNOWN')

# Adjusting the Column so it shows only the code of the corresponding State, if it's Unknown or outside of the US, label accordingly
df['Location'] = df['Location'].apply(lambda location: location.split(', ')[-1] if len(location.split(', ')) > 1 and len(location.split(', ')[-1]) == 2 else 'Unknown/Foreign Location')

In [6]:
#Cleaning the 'Make' Column
characters_to_remove = ['(', ')', ',', '.', '%', '?']
df['Make'] = df['Make'].str.title().fillna('UNKNOWN')
df['Make'] = df['Make'].map(lambda x: ''.join(char for char in x if char not in characters_to_remove))

In [7]:
#Cleaning the Airport Name Column

df['Airport.Name'] = df['Airport.Name'].str.title().fillna('UNKNOWN')
df.loc[df['Airport.Name'].str.contains('private', case=False), 'Airport.Name'] = 'Private'

In [8]:
#Cleaning the "Model" column

df['Model'] = df['Model'].str.title().fillna('UNKNOWN')

In [9]:
#Cleaning the 'Airplane.Category' Column, making sure that everything we know for sure is not a plane gets dropped:
#Dropping 'Airplane.Category' after the cleaning of everything that we know is not an airplane.

df['Aircraft.Category'].fillna('UNKNOWN',inplace = True)
df = df.loc[(df['Aircraft.Category'] == 'Airplane') | (df['Aircraft.Category'] == 'UNKNOWN')]
df.drop('Aircraft.Category', axis=1, inplace=True)

In [10]:
to_drop = ['Airport.Code','Event.Id', 'Investigation.Type','Accident.Number','Injury.Severity','Report.Status','Latitude','Longitude']

In [11]:
df.drop(to_drop, axis=1, inplace=True)

In [12]:
df.Broad.phase.of.flight

,Location,Country,Airport.Name,Aircraft.damage,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Publication.Date,Event.Day,Event.Month,Event.Year
0,ID,United States,UNKNOWN,Destroyed,NC6404,Stinson,108-3,No,1.0,Reciprocating,...,2.0,0.0,0.0,0.0,UNK,Cruise,NaN,24.0,10.0,1948.0
1,CA,United States,UNKNOWN,Destroyed,N5069P,Piper,Pa24-180,No,1.0,Reciprocating,...,4.0,0.0,0.0,0.0,UNK,Unknown,19-09-1996,19.0,7.0,1962.0
2,VA,United States,UNKNOWN,Destroyed,N5142R,Cessna,172M,No,1.0,Reciprocating,...,3.0,NaN,NaN,NaN,IMC,Cruise,26-02-2007,30.0,8.0,1974.0
3,CA,United States,UNKNOWN,Destroyed,N1168J,Rockwell,112,No,1.0,Reciprocating,...,2.0,0.0,0.0,0.0,IMC,Cruise,12-09-2000,19.0,6.0,1977.0
4,OH,United States,UNKNOWN,Destroyed,N15NY,Cessna,501,No,NaN,NaN,...,1.0,2.0,NaN,0.0,VMC,Approach,16-04-1980,2.0,8.0,1979.0

In [ ]:
'''
Questions:

FAR.Description: DROP
Airport.Code: DROP
Registration.Number: DROP

'''

In [ ]:
# Event.Id
# Investigation.Type
# Accident.Number
# Event.Date
# Location
# Country
# Injury.Severity
# Aircraft.damage
# Registration.Number 
# Make #keep, maybe use to engineer a new feature using LLM 
# Model #keep, maybe use to engineer a new feature using LLM 
# Amateur.Built #keep: few nan (1.5k) vals, most are not amateur built (80k)
# Number.of.Engines #keep: few NAN values (7.5k), most are have 1 (70k)
# Engine.Type #keep, few unknown (2k) and nan vals (8.5k), most are reciprocating (70k)
# Purpose.of.flight #keep: few unknown (6.8k) and nan (7.6k) vals, most are personal (50k)
# Total.Fatal.Injuries #keep
# Total.Serious.Injuries #keep
# Total.Minor.Injuries #keep
# Total.Uninjured #keep
# Weather.Condition #keep, mostly split between low and high visibility 
# Report.Status #DROP, about 70k are probable cause or nan 
# Publication.Date #DROP, less important than event date; also, skewed towards 2020

In [ ]:
"""Actions to take with the null values per column:
Event.Id                  0.016149
Investigation.Type        0.000000 DROP
Accident.Number           0.016149
Event.Date                0.016149
Location                  0.016724
Country                   0.018650
Latitude                  0.619449  DROP COLUMN
Longitude                 0.619549 DROP COLUMN
Airport.Code              0.443828
Airport.Name              0.415704
Injury.Severity           0.027217
Aircraft.damage           0.051501
Aircraft.Category         0.642637
Registration.Number       0.030726 
Make                      0.016846 DROP
Model                     0.017167 DROP
Amateur.Built             0.017278 
Number.of.Engines         0.083488
Engine.Type               0.094479
FAR.Description           0.645559
Schedule                  0.860738
Purpose.of.flight         0.084684
Air.carrier               0.815735
Total.Fatal.Injuries      0.142339
Total.Serious.Injuries    0.154613
Total.Minor.Injuries      0.148227
Total.Uninjured           0.081585
Weather.Condition         0.065868
Broad.phase.of.flight     0.316819
Report.Status             0.086776 DROP
Publication.Date          0.184719
"""

In [35]:
# We're going to ignore the Aircraft.Category for now, 
#then check correlations of unknowns with the ones from aircrafts
#We replace the null values on the aircraft category for "Unknown" to don't discard the type completely
df['Aircraft.Category'] = df['Aircraft.Category'].fillna('Unknown')

In [ ]:
'''Event.Id              1459 DROP COLUMN
Investigation.Type       0  DROP COLUMN
Accident.Number       1459 DROP COLUMN
Event.Date            1459 CHANGE TO EVENT YEAR 
Location              1511
Country               1685 US - NON US
Injury.Severity       2459 DROP COLUMN
Aircraft.damage       4653'''